.menu{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.menu div {
    
    cursor: pointer;
    display: flex;
align-items: center;
justify-items: center;
justify-content: center;
}
.menu div.menu-circle{
    
    font-size: 40px;
    border-radius: 50%;
    width: 200px;
    background-color: blueviolet;
    border: 2px rgb(247, 247, 247) solid;
    height: 200px;
}
.menu div.menu-squad{
    
    font-size: 30px;
    border-radius: 10%;
    width: 200px;
    background-color: rgb(165, 164, 167);
    height: 200px;
    margin: 10px;
}
