body {
  background-color: darkslateblue;
  text-align: center;
  color: darkgray;
  font-family: "Times New Roman", Times, serif;
  background-image: url("1*l0g2FVIE-Ds8UUSjNtpeEA.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#apresentacao{
  position: relative;
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.right {
  position: absolute;
  right: 0px;
  padding: 10px;
}

.conteudos {
  opacity: 0.3;
  background-color: aliceblue;
  color: black;
}

img {
  width: 80%;
  height: 80%;
}
.anime{
  opacity: 0;
  transform: translate3d(0,0,-100px);
  transition: .5s;
}
.anime-start{
  opacity: 1;
  transform: translate3d(0,0,0);
}