@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
body {
  background-color: darkslateblue;
  text-align: center;
  color: whitesmoke;
  font-family: 'Amatic SC', cursive;
  background-image: url("1*l0g2FVIE-Ds8UUSjNtpeEA.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#textoIncial{
  font-size: 4em;
  
}
#translate-button{
  font-size: 1.5rem;
  width: 100px;
}
.apresentacao{
  position: relative;
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.right {
  position: absolute;
  right: 0px;
  padding: 10px;
}

.conteudos {
  font-family: 'Times New Roman', Times, serif;
  background-color:rgba(236, 236, 255, 0.5);
  color: black;
}

.img{
  width: 80%;
}
.titulo-principal:after{
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
 }
 @keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}
.notBgd{
  background: none;
  max-height: 40px;
  max-width: 30px;
}
.anime{
  opacity: 0;
  transform: translate3d(0,0,-100px);
  transition: .5s;
}
.anime-start{
  opacity: 1;
  transform: translate3d(0,0,0);
}